/dev-resources
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.lein-failures

# Ignore build artifacts
/target

# Ignore Git
/.git

# Ignore IDE/editor configuration files
/.clj-kondo
/.lsp

# Ignore Leiningen REPL history
/.lein-repl-history

# Ignore config.json
#/config.json
