/dev-resources
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.lein-failures
/.git
/.lsp
/.lein-repl-history
/.clj-kondo

# Ignore config.json
#/config.json
